#slideshow {
  width: 100%;
}

.starter_prompt {
  font-size: 1.4em;
  color: #A50034;
  margin-bottom: 20px;
}

.slick-slide {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  height: inherit;
}

.description {
  margin-bottom: 20px;
}

.temp {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 25px;
  padding: 10px 0;
}

.temp img {
  display: block;
    margin: auto;
}

.temp:hover {
  border: 1px solid #ccc;
}

.summary_label {
font-size: .8em;
padding: 4px 0;
}

#load_output {
  font-weight: bold;
}

#recommendations {
  border-left: 1px solid #ccc;
}
#recommendations ul {
  list-style: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  padding-left: 0;
}

#recommendations > ul > li {
  padding-top: 10px;
}

.small_number {
  width: 100px;
}

#advanced,
#summary {
  min-height: 800px;
}

#advanced .check {
  padding: 0 5px;
}
th, td {
  text-align: center;
  padding-bottom: 5px;
}

#advanced table tr td:first-child {
  font-weight: bold;
}

.door,
.window {
  font-weight: normal;
}

#advanced table tr td:not(:first-child) {
  padding: 0 5px;
}

#load_row {
    border-top: 1px solid #ccc;
}

td.enabler {
  text-align: center;
  padding: 0 30px;
}

table {
  border-collapse: collapse;
}

.big_btn {
  text-align: center;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 25px;
  cursor: pointer;
  color: #aaa;
  font-size: 1.8em;
}

.big_btn:hover {
  background-color: #F0F8FF;
  color: #000;
}

.big_btn .glyphicon {
  font-size: 30px;
}

.subtext {
  font-size: 1rem;
}

.temp:hover {
  border: 3px solid #c8e5ff;
}

.selected {
  background: #c8e5ff;
  border-radius: 25px;
}

.disclaimer {
  margin: 15px 0;
  font-style: italic;
}

.unit {
  float: left;
  text-align: center;
  height: 190px;
  width: 140px;
  margin: 0 10px;
  cursor: pointer;
}

.unit > img {
  max-height: 100px;
  max-width: 140px;
  display: block;
  margin: auto;
}
.unit > .series,
.unit > .btuh {
  font-size: .8em;
  color: gray;
}

.summary_inputs {
  border: 2px solid black;
  width: 100%;
}

.summary_inputs td {
  border-right: 2px solid black;
  padding: 5px;
  width: 49%;
}

.summary_block {
  border-top: 1px solid #ccc;
}

#advanced_inputs table {
  width: 100%;
}

#advanced_inputs table tr:nth-child(2) {
  border-top: 2px solid black;
}

#advanced_inputs table tr td:nth-child(1),
#advanced_inputs table td:nth-child(1) {
  text-align: left;
}

#advanced_inputs table td:nth-child(1) {
  font-weight: bold;
}

.disclaimer {
  font-size: .8em;
}


.tooltip-wrapper {
  display: inline-block; /* display: block works as well */
}

.tooltip-wrapper > button[disabled] { pointer-events:none; }

.tooltip-wrapper .btn[disabled] {
  /* don't let button block mouse events from reaching wrapper */
  pointer-events: none;
}

.tooltip-wrapper.disabled {
  /* OPTIONAL pointer-events setting above blocks cursor setting, so set it here */
  cursor: not-allowed;
}
