<h3>Disclaimer</h3>
<div class="description">
  Please read the terms and conditions below
</div>


<div id="disclaimer">
    <p>
      <b>The accuracy of the results</b> of this program are contingent upon the information provided. This document should only be used to provide a baseline reading. You should always consult a wine cellar professional to ensure that all variables which
      may affect a cooling unit's performance and function are accounted for.</p>
    <p>
      <b>Cellar construction</b> is critical to the overall performance of the cooling unit. The quality and amount of the insulation used in your cellar's construction will affect the cooling unit's capacity, run time, and energy usage.
      <br />
      <span class="cta"><a href="https://www.youtube.com/watch?v=R-y1wFGpYBM&feature=youtu.be">For more information on constructing your cellar CLICK HERE!</a></span>
    </p>
    <p>
      <b>An adequate vapor barrier</b> is paramount to the performance and efficiency of the cooling unit. A poor vapor barrier allows moisture to enter the cellar. This limits the cooling system's overall capacity, causes the unit to run longer, and generates excess condensation (which then needs to be disposed of).
      <br />
      <span class="cta"><a href="https://youtu.be/n8YXX_yxm-U" target="_blank">For more information on vabor barriers CLICK HERE!</a></span>
    </p>
    <p>
      <b>Verify that the recommended cooling system</b> is the best fit for your cellar. Consult with a qualified cellar contractor/ designer and make sure that you've considered all the variables (especially adequate ventilation and noise) before you select a cooling unit.
      <br />
      <span class="cta"><a href="https://youtu.be/SEhXB1ybP6M" target="_blank">For more information on cooler system sizing CLICK HERE!</a></span>
    </p>
</div>

<div class="pull-right">
  <button class="btn" id="btn_disclaimer_back">Back</button>
  <button class="btn btn-primary" id="btn_submit">Agree</button>
</div>
