<h3>Exterior</h3>
<div class="description">
  What is the average temperature of the exterior of the wine cellar?
</div>

<div class="row">
  <div class="col-sm-3 temp" data-temp="70">
    <img src="icons/low.png" /> 70°
  </div>
  <div class="col-sm-3 temp" data-temp="75">
    <img src="icons/medlow.png" /> 75°
  </div>
  <div class="col-sm-3 temp" data-temp="80">
    <img src="icons/med.png" /> 80°
  </div>
  <div class="col-sm-3 temp" data-temp="85">
    <img src="icons/high.png" /> 85°
  </div>
</div>

<input type="hidden" name="exterior_temp" id="exterior_temp" />

<div class="pull-right">
  <button class="btn btn_back">Back</button>
  <button class="btn btn-primary btn_next">Next</button>
</div>
