<h3>Main Parameters</h3>
<div class="description">
</div>
<div class="form-group">
  <label for="exampleInputEmail1">Number of Walls</label>
  <div class="input-group">
    <select class="form-control" name="num_walls" id="num_walls">
      <option>3</option>
      <option selected="selected">4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="exampleInputEmail1">Desired Cellar Temp</label>
  <div class="input-group">
    <input type="number" class="form-control" name="cellar_temp" id="cellar_temp" value="55">
    <div class="input-group-addon">°F</div>
  </div>
</div>

<div class="form-group">
  <label for="exampleInputEmail1">Exterior Conditioned Temp</label>
  <div class="input-group">
    <input type="number" class="form-control" name="conditioned_temp" id="conditioned_temp" value="75">
    <div class="input-group-addon">°F</div>
  </div>
</div>

<div class="pull-right">
  <button class="btn btn_back_to_start">Back</button>
  <button class="btn btn-primary btn_next btn_advanced_after_params">Next</button>
</div>
