<div class="starter_prompt">
  Please select which version of the tool you would like to use in order to move forward.
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="big_btn" id="btn_simple">
      <span class="glyphicon glyphicon-road" aria-hidden="true"></span><br />Simple<br />
      <span class="subtext">
        <i>For a quick estimate</i>
      </span>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="big_btn" id="btn_advanced">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><br />Advanced<br />
      <span class="subtext">
        <i>For the most accurate BTU rating</i>
      </span>
    </div>
  </div>
</div>
